*.pyc

# Packages
*.egg
!/tests/**/*.egg
/*.egg-info
/dist/*
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version

/test.py
/test_*.*

/setup.cfg
MANIFEST.in
.mypy_cache

.venv
/releases/*
pip-wheel-metadata
/poetry.toml

poetry/core/*

__pycache__

.env
!.env.example

tmp
node_modules
.turbo

service-account.json

dump*.sql
dump*.csv
repomix-output.xml
.vercel
.env*.local
