public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
public-hoist-pattern[]=*pg*
# https://github.com/pnpm/pnpm/issues/8878#issuecomment-2546442011
public-hoist-pattern[]=*eslint*
